{% extends 'base.html' %}
{% block content %}
<h2>Søknader</h2>
<table border="1">
    <tr>
        <th>Application ID</th>
        <th>Parent (Foresatt) PNR</th>
        <th>Child PNR</th>
        <th>Preferred Kindergarten(s)</th>
        <th>Start Date</th>
        <th>Brutto Inntekt</th>
    </tr>
    {% for app in soknader %}
    <tr>
        <td>{{ app['id'] }}</td>
        <td>{{ app['foresatt_pnr'] }}</td>
        <td>{{ app['barn_pnr'] }}</td>
        <td>{{ app['barnehager_prioritert'] }}</td>
        <td>{{ app['tidspunkt_oppstart'] }}</td>
        <td>{{ app['brutto_inntekt'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
